* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
body {
    background-color: #f9f8f8;
}
.login-layout {
    margin: 80px auto 0;
    width: 440px;
    height: 735px;
    padding: 24px 48px 32px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(109, 110, 111, 0.08);
}
.login-layout-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.totem {
    margin: 70px 0 38px;
    position: relative;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.totem span {
    height: 45px;
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    color: #1e1f21 !important;
}
.login-with-google {
    color: #1e1f21;
    position: relative;
    width: 344px;
    height: 48px;
    padding: 0 16px;
    border: 1px solid #cfcbcb;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}
.login-with-google:hover {
    background-color: #f9f8f8;
    border-color: #afabac;
    cursor: pointer;
}
.google-icon {
    width: 20px;
    position: absolute;
    left: 32px;
}
.or {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    color: #cfcbcb;
    margin: 32px 0 27px;
}
.or::after, .or::before {
    content: "";
    background-color: #edeae9;
    height: 1px;
    flex: 1;
}
.loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.loginForm .loginForm-emailAndPassword {
    display: flex;
    flex-direction: column;
}
.loginForm .loginForm-emailAndPassword input {
    width: 100%;
    padding: 6px 12px;
    height: 36px;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 22px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #cfcbcb;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 3px;
}
.loginForm .loginForm-emailAndPassword input:hover {
    border-color: #afabac;
}
.loginForm .loginForm-emailAndPassword .loginForm-email {
    margin-bottom: 25px;
}
.loginForm .loginForm-emailAndPassword span {
    color: #6d6e6f;
    font-size: 12px !important;
    line-height: 28px;
}
.forgot-password {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
    color: #6d6e6f;
    text-decoration: underline !important;
    margin-top: 8px;
}
.forgot-password:hover {
    color: #1e1f21;
}
.loginForm-button {
    height: 36px;
    background-color: #726ab9;
    border: 1px solid;
    border-color: #726ab9;
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s;
    margin: 32px 0 38px;
}
.loginForm-button:hover {
    background-color: #575089;
    border-color: #575089;
}
.haveAccount-goToSignup {
    font-size: 14px !important;
    width: 100%;
    text-align: center;
}
.haveAccount-goToSignup span {
    line-height: 22px;
    color: #6d6e6f;
}
.haveAccount-goToSignup a {
    color: #4573d2;
    cursor: pointer;
    margin-left: 8px;
}
.haveAccount-goToSignup a:hover {
    text-decoration: underline;
}